# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
.anchor
anchor/target/deploy
anchor/target/debug
anchor/target/release
anchor/target/sbf-solana-solana
anchor/target/.rustc_info.json
!anchor/target/idl/*.json
!anchor/target/types/*.ts
node_modules
dist
tmp
build
test-ledger